CompileFlags:
  Add: 
    - -isystem
    - /usr/lib/llvm-17/include
    - -isystem
    - /usr/lib/llvm-17/include/c++/v1
    - -isystem
    - /usr/local/include
    - -isystem
    - /usr/include/x86_64-linux-gnu
    - -isystem
    - /usr/include
    - -std=gnu++17
    - -isystem
    - /root/.conan2/p/b/spdlo3b2989ab5aced/p/include
    - -I
    - /root/.conan2/p/b/backwed58a3d05b5f6/p/include
    - -I
    - /mnt/Cross_platform_file_transfer_tool-main/Cross_platform_file_transfer_tool-main/include/
    - -I
    - /mnt/Cross_platform_file_transfer_tool-main/Cross_platform_file_transfer_tool-main/
  CompilationDatabase: compile_commands.json

Index:
  Background: true 